form {
    width: 2000px;
    height: 2000px;
    font-size: 70px;
}

body {
    font-size: 70px;
}

input {
    width: 500px;
    height: 40px;
    font-size: 40px;
    color: #E6E8E6;
    background-color: #F15025;
}

.button {
    font-size: 30px;
    color: #E6E8E6;
    background-color: #F15025;
}